html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 24px;
  font-family: "Lato", sans-serif;
  background-color: blanchedalmond;
}

table {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
  border: 3px solid black;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  border-collapse: collapse;
}

.table__caption {
  font-size: 30px;
  padding: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.table__header {
  background-color: cadetblue;
  padding: 10px;
}

.table__cell {
  padding: 20px;
  border: 1px solid black;
}

.table__cell:hover {
  cursor: pointer;
  background-color: rgb(211, 207, 207);
}

.active {
  outline: 1px double green;
  background-color: rgb(218, 226, 224);
  font-weight: bold;
}

.form {
  display: block;
}

.form__fieldset {
  border-radius: 20px;
  font-size: 20px;
  margin: 0 auto;
  width: 100%;
}

.form__result {
  font-size: 30px;
  font-weight: bold;
}

.form__header {
  padding: 20px;
  border-radius: 20px;
  background-color: cadetblue;
}

.form__labelText {
  margin: 10px;
  display: inline-block;
  width: 100%;
  max-width: 500px;
}

.form__ul {
  list-style: none;
  padding-left: 0;
}

.form li {
  padding: 20px;
}

.form__field {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  margin-left: 0px;
  border-radius: 5px;
  box-shadow: 2px 2px;
}

.form__field:hover {
  background-color: #f5e1e1;
  outline-style: double;
  outline-width: 5px;
  outline-offset: 1px;
}

.form__field--select:hover {
  cursor: pointer;
}

.form__field--select:hover {
  cursor: pointer;
}

.form__calculationButton {
  padding: 10px 40px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  width: 200px;
  font-weight: bold;
}

.form__calculationButton:hover {
  cursor: pointer;
  outline: 3px solid whitesmoke;
  border-radius: 15px;
  color: white;
  background-color: teal;
}

.form__calculationButton--disabled {
  pointer-events: none;
  opacity: 0.4;
}

.form__resetButton {
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 40px;
  border-radius: 5px;
  letter-spacing: 2.5px;
  width: 200px;
  font-weight: bold;
}

.form__resetButton:hover {
  outline: 3px solid whitesmoke;
  background-color: teal;
  color: whitesmoke;
  border-radius: 15px;
  cursor: pointer;
}

.container {
  overflow-x: auto;
}
